DATABASE_URL="file:./dev.db"
JWT_SECRET="change-me-in-production"
RESEND_API_KEY="your-resend-api-key"
RESEND_FROM_EMAIL="ТОПХИТ <noreply@tophitt.ru>"
ADMIN_EMAIL="acoulbot@gmail.ru,s4810769@ya.ru"
NEXT_PUBLIC_GOOGLE_SITE_VERIFICATION=""
NEXT_PUBLIC_YANDEX_VERIFICATION=""
GMC_SFTP_USER="mc-sftp-5785975591"
GMC_SFTP_PASS=""
